@font-face {
    font-family:'Product Sans Regular';
    font-style:normal;
    font-weight:400;
    src:url(fonts/regular.ttf) format("truetype")
    }
    
    @font-face {
    font-family:'Product Sans Medium';
    font-style:normal;
    font-weight:400;
    src:url(fonts/medium.ttf) format("truetype")
    }
    
    .popup-button {
    border:none;
    cursor:pointer;
    font-family:'Product Sans Medium',sans-serif;
    font-size:14px;
    height:44px;
    outline:none;
    transition:background-color .3s ease,color .3s ease,box-shadow .3s ease,opacity .3s ease;
    width:256px
    }
    
    .popup-container {
    margin:0;
    padding:7px 20px;
    text-align:center
    }
    
    .popup-subtitle {
    color:#9e9e9e;
    font-size:14px;
    margin-bottom:26px
    }
    
    .popup-subtitle2 {
    color:#9e9e9e;
    font-size:14px;
    margin-top:26px
    }
    
    .popup-title {
    color:#212121;
    font-family:'Product Sans Medium',sans-serif;
    font-size:24px;
    margin-bottom:10px
    }
    
    .popup-title-container {
    display:flex
    }
    
    .start-button {
    background-color:red;
    color:#fff;
    margin-bottom:10px
    }
    
    .start-button:hover {
    background-color:rgba(255,0,0,0.75);
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    opacity:.9
    }
    
    .stop-button {
    background-color:#eee;
    color:#212121;
    height:44px;
    width:256px
    }
    
    .stop-button:disabled {
    background-color:#f5f5f5;
    color:#9e9e9e;
    cursor:not-allowed
    }
    
    .stop-button:enabled:hover {
    background-color:#eee;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    color:#212121;
    opacity:.9
    }
    
    body {
    background-color:transparent;
    font-family:'Product Sans Regular',sans-serif;
    margin:0;
    padding:0
    }