:root {
    --background-light: #ffffff;
    --text-light: #212121;
    --background-dark: #121212;
    --text-dark: #ffffff;
    --grid-background-light: #f5f5f5;
    --grid-text-light: #212121;
    --grid-background-dark: #333333;
    --grid-text-dark: #ffffff;
    --text-primary-light: #212121;
}

@font-face {
    font-family: "Product Sans Regular";
    src: url('fonts/regular.ttf') format('truetype');
}

body {
    font-family: "Product Sans Regular", sans-serif;
    margin: 0;
    background-color: var(--background-light);
    transition: overflow 0.5s ease;
    padding: 0;
    overflow: hidden;
    user-select: none;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 0rem;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--background-dark);
    }
}

.extension-container,
.popup-container,
.header,
.dot-container,
.dropdown-content,
.page,
.grid-item,
.popup-title,
.buy-premium,
.custom-button,
.start-button.custom-button,
.stop-button.custom-button,
.popup-subtitle {
    font-family: "Product Sans Regular", sans-serif;
}

.extension-container,
.popup-container,
.header,
.dot-container,
.page,
.grid-item,
.dropdown-content,
.buy-premium,
.custom-button,
.popup-subtitle,
.start-button.custom-button,
.stop-button.custom-button {
    transition: background-color 0.3s ease-in-out, opacity 0.2s ease-in-out, transform 0.3s ease;
}

.separator {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
    .separator {
        border-bottom: 1px solid #414141;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--background-light);
    margin-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
    .header {
        background-color: var(--background-dark);
    }
}

.header-icon {
    width: 36px;
    height: 36px;
    margin: 0;
}

.header-title {
    flex-grow: 1;
    font-size: 24px;
    margin: 0 0 0 16px;
    font-weight: 100;
    color: var(--text-light);
    display: flex;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .header-title {
        color: var(--text-dark);
    }
}

.dot-container {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grid-background-light);
    border-radius: 50%;
    overflow: hidden;
}

@media (prefers-color-scheme: dark) {
    .dot-container {
        background-color: var(--grid-background-dark);
    }
}

.dot-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dot-container:hover .dot-icon {
    transform: scale(1.04) rotate(10deg);
    opacity: 0.9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-light);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.dropdown-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-text {
    font-size: 16px;
}

#dot-container:hover .dropdown-content {
    display: block;
}

body:not(:hover) .dropdown-content {
    display: none;
}

a.support-link {
    text-decoration: none;
    color: inherit;
}

body.show-scrollbar {
    overflow: auto;
}

.page {
    overflow: hidden;
    text-align: center;
    position: absolute;
    padding: 20px;
    background-color: var(--background-light);
    color: var(--text-light);
    width: 300px;
    height: auto;
}

@media (prefers-color-scheme: dark) {
    .page {
        background-color: var(--background-dark);
        color: var(--text-dark);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item {
    background-color: var(--grid-background-light);
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    color: var(--grid-text-light);
    font-weight: normal;
}

.grid-item:hover {
    opacity: 0.9;
    transform: scale(1.04);
}

@media (prefers-color-scheme: dark) {
    .grid-item {
        background-color: var(--grid-background-dark);
        color: var(--grid-text-dark);
    }
}

@media (prefers-color-scheme: dark) {
    .popup-title {
        color: var(--text-primary-dark);
    }
}

@keyframes shine {

    0%,
    100% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(200%);
    }
}

.buy-premium,
.grid-item,
.popup-title {
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.buy-premium {
    background: linear-gradient(45deg, gold, gold);
    margin-top: 10px;
    border-radius: 10px;
    background-size: 300% 100%;
    color: white;
}

.buy-premium::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transform-origin: right;
    animation: shine 6s linear infinite;
    pointer-events: none;
}

@media (prefers-color-scheme: dark) {
    .buy-premium {
        color: #212121;
        background: linear-gradient(45deg, gold, gold);
    }
}

@media (prefers-color-scheme: light) {
    .buy-premium {
        color: #212121;
        background: linear-gradient(45deg, #ffcc00, #ffcc00);
    }
}

.buy-premium:hover {
    background-position: right bottom;
    transform: scale(1.04);
}

.buy-premium:hover::before {
    animation: shine 3s linear infinite;
}

.popup-subtitle {
    color: #9e9e9e;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (prefers-color-scheme: dark) {
    .popup-subtitle {
        color: #919191;
    }
}

@media (prefers-color-scheme: dark) {
    .back-button .dot-icon {
        filter: brightness(0) invert(1);
    }
}

.custom-button,
.start-button.custom-button,
.stop-button.custom-button {
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    background-size: 300% 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.custom-button.disabled {
    background-color: rgba(245, 245, 245, 0.5);
    opacity: 0.5;
    cursor: not-allowed;
    color: #ccc;
}

.start-button.custom-button {
    background-color: #FF0000;
    color: white;
}

.stop-button.custom-button:disabled,
.stop-button.custom-button {
    background-color: var(--grid-background-light);
    color: var(--text-light);
}

@media (prefers-color-scheme: dark) {

    .stop-button.custom-button:disabled,
    .stop-button.custom-button {
        background-color: var(--grid-background-dark);
        color: var(--text-dark);
    }
}

.start-button:hover,
.stop-button:hover {
    transform: scale(1.04);
}

input,
textarea {
    user-select: text;
}

img {
    -webkit-user-drag: none;
    pointer-events: none;
}